@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap%27');
.app{
  background: white;
  display: flex;
  color: black;
  justify-content: center;

}
/* /.container{
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: 400px;
  width: 100%;
  flex-wrap: wrap;
}*/

.slideshow-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slide-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.slide-exit {
  opacity: 1;
  transform: translateX(0%);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
