
  .container1 {
    margin-top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .signup-form {
    margin-top: 50px;
    margin-left: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 40px;
    max-width: 400px;
    width: 100%;
  }
  
  .signup-form div {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  
  .input-text,
  .input-password,
  .input-email {
    border: none;
    border-bottom: 1px solid #000;
    font-size: 16px;
    padding: 8px 10px;
    width: 100%;
    background-color: transparent;
  }
  
  .input-text:focus,
  .input-password:focus ,
  .input-email:focus{
    outline: none;
    border-bottom: 1px solid #000;
  }
  
  .signup-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .signup-button:hover {
    background-color: #333;
  } 
   .container1 {
    margin-top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  } 
  
   .signup-form {
    margin-top: 50px;
    margin-left: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 40px;
    max-width: 400px;
    width: 100%;
  }
  
  .signup-form div {
    margin-bottom: 20px;
  } 
  