.info{
    align-content: center;
}
.infouser{
    display: flex;
    margin-left: 50px;
    width: 100%;
}
.img{
    width: 70px;
    height: 70px;
    margin: 10px;
    margin-right: 30px;
}
.rs{
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-end; */
}
.btn{
    float: right;
    margin-left: 400px;
    height: 30px;
    /* display: flex; */
    /* justify-content: flex-end; */
    border-radius: 4px;
    color: whitesmoke;
    border: none;
    background-color: rgb(196, 24, 24);
    box-shadow: 2rem 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
}
.admin{
    left: 400px;
    background-color: white;
  width: 80%;
  max-width: 75rem;
  margin-top: 4rem;
  padding: 5.5rem 20.6rem;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
  border: 2px;
}